@media (min-width: 768px) {
    footer {
        background: rgb(204, 204, 201)!important;
        a:hover {
            border: outset 2px rgb(184, 180, 135) !important;
            transform: scale(1.3);
        }
        #whatsapp-icon {
            position: fixed;
            right: 10px;
            bottom: 10px;
            text-align: center;
            padding: 3px;
            a:hover {
                border: none !important;
                transform: scale(1.3)!important;
            }
        }
    }
}