@media (min-width: 768px) {
    .carousel-inner {
        .imgCarru {
            max-height: 300px;
            margin-top: 15px !important;
            padding-top: 25px !important;
            border-radius: 10rem;
        }
    }
}